<!DOCTYPE html>
<html>
    <head>
       <title>pharma_company</title>
        <link rel="stylesheet" href="/css/s.css"> 
       <script src="/handson/src/index.js"></script>
    </head>
    <body>
      {{>header}}
       <p >We operate a "Flexi Rewards" scheme (our customer loyalty program), which allows customers to accumulate points when they purchase products. These points can be redeemed for purchase of value plus items.
        The fair value of the consideration received or receivable in respect of the initial sale is allocated between the award credits the other components of the sale.
         The amount allocated to award credits is deferred and is recognized as revenue when the award credits are redeemed and we have fulfilled its obligations to supply the discounted products under the terms of the program </p>
       {{>footer}}
    </body>
</html>