<!DOCTYPE html>
<html>
    <head>
       <title>pharma_company</title>
        <link rel="stylesheet" href="/css/s.css">
       <script src="/handson/src/index.js"></script>
    </head>
    <body>
      
         {{>header}}
         <p><b>CUSTOMER CARE</b><br>
           Call: 040 6700 6700<br>
         Customer service available: 9 AM - 10 PM <br>
          daily Please leave a message at all other times. We will get back to you.
         </p>
          {{>footer}}
    </body>
</html>