<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/s.css">
       <title>pharma_company</title>
      
       <script src="/handson/src/index.js"></script>
    </head>
    <body>
        {{>header}}
        
       
        {{>footer}}
    </body>
</html>