<!DOCTYPE html>
<html>
    <head>
       <title>pharma_company</title>
         <link rel="stylesheet" href="/css/s.css">
       <script src="/handson/src/index.js"></script>
    </head>
    <body>
       
         {{>header}}
         <p>
  <list><ol><li>Antacids, Antireflux Agents & Antiulcerants</li>

         <li> Regulators & Anti-Inflammatories
          Antispasmodics
          Antidiarrheals</li>
         <li>Laxatives, Purgatives</li>
       <li>Digestives and Antiflatulents</li>
       <li>Cholagogues, Cholelitholytics & Hepatic Protectors</li>
       <li>Anorectal Preparations</li>
      <li>
        Other Gastrointestinal Drugs</li>
        </ol>
</list>
</p>

          {{>footer}}
    </body>
</html>